.main{
    height: 200px;
    width: 400px;
    background-color: #cccccc;
    margin: 100px auto;

    position:relative;
    overflow: hidden;
}
.top{
    width:60px;
    height:60px;
    background-color: #fc0;
    border-radius:0 0 100% 0;
    position: absolute;
}

.bottom{
    width:60px;
    height:60px;
    background-color: #fc0;
    border-radius:100% 0 0 0;

    position: absolute;
    bottom: 0;
    right: 0;
}
