*{
    font-weight: 300;
}
.section{
    margin-left:0;
    margin-right: 0;
    margin-bottom: 50px;
    border: 1px solid #e7504d;
    padding:50px;
}
table.A{
    text-align: center;
}
table.A td{
    background:#cccccc;
    padding:2px 20px;
}
table.A th{
    background:#272727;
    color: #ffffff;
}
table.A td[rowspan]{
    background: #272727;
    color: #ffffff;
}
table.A th[colspan]{
    font-size:30px;
    border-radius: 5px 5px;
}


.section.C input,.section.C textarea,.section.C button{
    width:50%;
    display: block;
    margin:5px;
}

.section .D{
}
.sale{
    border: 1px solid;
    width: 80%;
    margin:0 auto!important;
    overflow: hidden;
}
.sale figure{
    float: left;
    width:15%;
    position:relative;
}
.sale h4{
    border-bottom: 1px solid;
    height:40px;
    line-height: 30px;
    padding-left: 30px;
}
.sale figure img{
    max-width: 100%;

}
.sale figure:after{
    content: '限时抢购';
    word-break: break-all;
    display: block;
    width:40px;
    height: 40px;
    /*line-height: 1rem;*/
    text-align: center;
    border-radius: 50%;
    background: gold;
    font-size:15px;
    padding:10px;

    position: absolute;
    top:-10px;
    right: -10px;
    color:#ffffff;
}
.sale figcaption h5{
    margin: 0;
    padding: 0;
}